{{ $featured_image := .Params.featured_image_header | default .Site.Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
    <header class="mb5 cover bg-top bg-left" style="background-image: url('{{ $featured_image }}');">
  {{ if .Params.featured_image_header }}
    <div class="bg-black-60">
  {{ else }}
    <div>
      {{ end }}
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
