{{ $featured_image := .Params.featured_image }}
<article class="bb b--black-10 word-wrap">
  <a href="{{.RelPermalink}}" class="main-link">
    <h1 class="f4 title-font lh-title ph4 pv4 mb2 mt2">
      {{ .Title }}
    </h1>
    <span class="flex flex-column pa4 pb8 pt0">

      <span class="w-100">
        <p class="f7 pt3 pb3 mv0 mid-gray">
          {{ if .Date }}
          <span>{{ .Date.Format ($.Param "date_format") }}</span>
          {{ end }}

          {{ if .Params.categories }}
          {{ range .Params.categories }}
          <span class="ml2">
            {{ . }}
          </span>
          {{- end -}}
          {{- end -}}
        </p>

        {{ if .Params.featured_image }}
        <span class="{{ if .Params.featured_image }} mb3 mt3and5 {{ end }} w-100">
          {{/* Trim slash, add absURL to ensure image works no matter where site is */}}
          {{ $featured_image := (trim $featured_image "/") | absURL }}
          <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
        </span>
        {{ end }}

        <span class="f5 lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </span>
        <div>
          <span
            class="dib bg-moon-gray br--top br--right f7 hover-bg-light-silver link mt2 ph3 pv2">{{$.Param "read_more_copy" | default "read more >" }}</span>
        </div>
      </span>
    </span>
  </a>

</article>