{{ $featured_image := .Params.featured_image }}
<article class="summary-article bb b--black-10 word-wrap">
  <div class="gradient-top"></div>
  <a href="{{.RelPermalink}}" class="main-link">
    <h1 class="f4 title-font lh-title ph4 pt3 mt3">
      {{ .Title }}
    </h1>
    <span class="flex flex-column pa4 pb4 pt0">

      <span class="w-100">
        <p class="f7 pt0 pb3 mv0 silver">
          <!-- {{ if .Date }}
          <span>{{ .Date.Format ($.Param "date_format") }}</span>
          {{ end }} -->

          {{ if .Params.categories }}
          {{ range .Params.categories }}
          <span class="mr2">
            {{ . }}
          </span>
          {{- end -}}
          {{- end -}}
        </p>

        {{ if .Params.featured_image }}
        <span class="{{ if .Params.featured_image }} mb3 mt3and5 {{ end }} w-100">
          {{/* Trim slash, add absURL to ensure image works no matter where site is */}}
          {{ $featured_image := (trim $featured_image "/") | absURL }}
          <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
        </span>
        {{ end }}

        <span class="f5 lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </span>
        <div>
          <span
            class="f6 link dim br1 ph3 pv2 mt4 mb2 dib white bg-dark-gray">{{$.Param "read_more_copy" | default "more ›" }}</span>
        </div>
      </span>
    </span>
  </a>

</article>